.texto {
    justify-content: center;
    color: white;
    font-family: monospace;
    font-weight: 300;
    background-color: black;
    margin-top: 300px;
    text-align: center;
}

article {
    color:white;
    background-image: url(resources/fondo.jpg);
    width: 50%;
    height: 50%;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

.general-questions h2 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 1px 2px 2px black;
}

.question-title button {
   
    margin-left: 50px;
}

.question-text p {
   
    margin-left: 20px;
    font-size: 20px;
}

.question-title p {
    color: gold;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}

.question-title {
    display: flex;
    
}

.answer {
    display: flex;
    text-align: center;
}

/* hide text */
.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
}

.minus-icon {
    display: none;
}
.show-text .minus-icon {
    display: inline;
}
.show-text .plus-icon{
    display: none;
}

#cry {
    width: 30%;
    height: 5%;
    padding: 15px;
}

#nano , #splt {
    width: 30%;
    height: 50%;
    padding: 5px;
}


body {
    background-image: url(resources/valorantimg.jpg);
    background-size: cover;
}

#bodymap {
    background-image: url(resources/fondo.jpg);
}

#bodycharacter {
    background-image: url(resources/fondo.jpg);
}

h2 {
    color: white;
    font-family: 'Anton', sans-serif;
    width:fit-content;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    letter-spacing: 1mm;
    font-size: 30px;
}

.gallery img {
    width: 100%;
    height: 300px;
    padding: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery img:hover {
   transform: translateX(1em);
}

.gallery button {
    padding: 0;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% auto;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.full {
    position: fixed;
    width: auto;
    height: auto;
    background-image: url(resources/fondo.jpg);
    color: white;
    font-family: monospace;
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content:center;
    border: 2px solid white;
    transform: translate(-200%);
    z-index: 1;
}

.right {
    position: fixed;
    width: auto;
    height: auto;
    background-image: url(resources/fondo.jpg);
    color: white;
    font-family: monospace;
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content:center;
    border: 2px solid white;
    transform: translate(200%);
    z-index: 1;
}

.hideleft {
    animation-name: hideLeft;
    animation-duration: 1s;
    transition-timing-function: linear;
}

@keyframes hideLeft {
 from {
      transform: translate(0);
     }
to {
     transform: translate(-200%);
}
}

.show {
    animation-name: fullImg;
    animation-duration: 1s;
    transition-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes fullImg {
from {
    transform: translate(-200%);
}
to {
    transform: translate(0);
}
}

.showright {
    animation-name: rightImg;
    animation-duration: 1s;
    transition-timing-function: linear;
    animation-fill-mode: forwards;
}

.hideright {
    animation-name: hideImg;
    animation-duration: 1s;
    transition-timing-function: linear;
}

@keyframes hideImg {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(200%);
    }
}

@keyframes rightImg {
    from {
        transform: translate(200%);
    }
    to {
        transform: translate(0);
    }
    }


.btnclose {
    position:relative;
    margin-right: 5px;
    padding: 10px;
    margin-top: -330px;
}


.full img, .right img {
    width: 700px;
}

.p-name {
    padding: 50px;
    font-size: 60px;
}


.gallery-character {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 0% auto;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
}

.gallery-character img {
    width: 100%;
    height: 130px;
    padding: 3px;
    object-fit: cover;
}


input.form-control {
    background-color: #3b3b4f;
}

.gallery-character button:hover{
    transform: scale(2);
}

.character-img {
    width: 200px;
    background-color: none;
}

.descriptions {
    position:relative;
    width: auto;
    height: auto;
    color: white;
    font-family: monospace;
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content:center;
    z-index: 1;
    transform: translatey(-700%);
}

.showdesc {
    animation-name: showDesc;
    animation-duration: 1s;
    transition-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes showDesc {
    from {
        transform: translatey(-700%);
    }
    to {
        transform: translate(0);
    }
    }

.hidedesc {
    animation-name: hideDesc;
    animation-duration: 1s;
    transition-timing-function: linear; 
}

@keyframes hideDesc {
    from {
         transform: translate(0);
   }
   to {
       transform: translatey(-700%);
   }
    }

.character-text {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: -30px;
    width: 40%;
    height: 400px;
}

.character-text h3 {
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
}

.character-text p {
    text-align: left;
    padding-left: 20px;
}

.fixed, .character-data {
display: -webkit-inline-box;
padding: 10px;
}

#close-pj {
    background-color:gold;
    width:fit-content;
    margin-left: 70%;
    margin-top: -75px;
    border-radius: 2px;
}

#close-pj:hover {
    animation-name: closePJ;
    animation-duration: 1.5s;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes closePJ {
    25% {
        scale: 2;
  }
  100% {
    scale: 1;
  }
}

.btn-searcher {
    width: 50%;
    height: 50%;
    margin-left: 40%;
    margin-right: 40%;
    position:absolute;
    margin-top: -20px;
}

.btn-searcher button {
    padding: 15px;
}

.btn-searcher button:hover {
color: gold;
background-color: red;
}

/* Buscador de personajes por botones y clases */

